<%- include("partials/header"); -%>
<section id="quote-page">
  <div class="container h-100 p-4">
    <div class="row h-100 align-items-center">
      <div class="contactBlur py-5">
        <div class="col">
          <h1 class="ps-1 ps-md-3 pb-2 text-uppercase formTitle">Contact Us</h1>
          <div class="btmBorder"></div>
        </div>
        <div class="row mt-5">
          <div class="col-12 col-md-7 mb-5 mb-md-0">
            <form
              action="/contact/send"
              method="POST"
              role="form"
              class="row g-3 ms-md-2"
            >
              <div class="col-md-6">
                <label for="firstName" class="form-label">First Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="firstName"
                  name="firstName"
                  required
                />
              </div>
              <div class="col-md-6">
                <label for="lastName" class="form-label">Last Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="lastName"
                  name="lastName"
                  required
                />
              </div>
              <div class="col-12 col-md-6">
                <label for="email" class="form-label">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  required
                />
              </div>
              <div class="col-md-6">
                <label for="inputPhone" class="form-label">Phone</label>
                <input
                  type="tel"
                  data-attr-format="Phone"
                  class="form-control"
                  id="inputPhone"
                  name="inputPhone"
                  placeholder="(___) ___-____"
                  minlength="10"
                  maxlength="14"
                  required
                />
              </div>
              <div class="col-12">
                <label for="inputAddress" class="form-label">Address</label>
                <input
                  type="text"
                  class="form-control"
                  id="inputAddress"
                  name="inputAddress"
                  placeholder="1234 Main St"
                  required
                />
              </div>
              <div class="col-12">
                <label for="inputAddress2" class="form-label">Address 2</label>
                <input
                  type="text"
                  class="form-control"
                  id="inputAddress2"
                  name="inputAddress2"
                  placeholder="Apartment, studio, or floor"
                />
              </div>
              <div class="col-md-6">
                <label for="inputCity" class="form-label">City</label>
                <input
                  type="text"
                  class="form-control"
                  id="inputCity"
                  name="inputCity"
                  required
                />
              </div>
              <div class="col-md-4">
                <label for="inputState" class="form-label">State</label>
                <select
                  id="inputState"
                  name="inputState"
                  class="form-select"
                  required
                >
                  <option value="">Choose Option...</option>
                  <option value="South Dakota">South Dakota</option>
                  <option value="Iowa">Iowa</option>
                  <option value="Minnesota">Minnesota</option>
                  <option value="Nebraska">Nebraska</option>
                </select>
              </div>
              <div class="col-md-2">
                <label for="inputZip" class="form-label">Zip</label>
                <input
                  type="text"
                  class="form-control"
                  id="inputZip"
                  name="inputZip"
                  required
                />
              </div>
              <div class="col-12 col-md-6">
                <label for="gate" class="form-label">Do you have a gate?</label>
                <select class="form-select" id="gate" name="gate" required>
                  <option value="">Choose Option...</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
              </div>
              <div class="col-md-6">
                <label for="sprinklerSelect" class="form-label"
                  >Do you have a sprinkler system?</label
                >
                <select
                  class="form-select"
                  id="sprinklerSelect"
                  name="sprinklerSelect"
                  required
                >
                  <option value="">Choose Option...</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
              </div>
              <div class="col-12">
                <p class="fw-bold mt-2">Services Interested In:</p>
                <p class="mb-3">(Select all that apply)</p>
                <div class="form-check form-check-inline fs-5">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="mowing"
                    name="mowing"
                  />
                  <label class="form-check-label" for="mowing"> Mowing </label>
                </div>
                <div class="form-check form-check-inline fs-5">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="fertilizing"
                    name="fertilizing"
                  />
                  <label class="form-check-label" for="fertilizing">
                    Fertilizing
                  </label>
                </div>
                <div class="form-check form-check-inline fs-5">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="weedControl"
                    name="weedControl"
                  />
                  <label class="form-check-label" for="weedControl">
                    Weed Control
                  </label>
                </div>
                <div class="form-check form-check-inline fs-5">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="springFallCleanup"
                    name="springFallCleanup"
                  />
                  <label class="form-check-label" for="springFallCleanup">
                    Spring/Fall Cleanup
                  </label>
                </div>
                <div class="form-check form-check-inline fs-5 mt-md-3">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="edging"
                    name="edging"
                  />
                  <label class="form-check-label" for="edging"> Edging </label>
                </div>
                <div class="form-check form-check-inline fs-5">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="aerating"
                    name="aerating"
                  />
                  <label class="form-check-label" for="aerating">
                    Aerating
                  </label>
                </div>
                <div class="form-check form-check-inline fs-5">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="sprinklerSystem"
                    name="sprinklerSystem"
                  />
                  <label class="form-check-label" for="sprinklerSystem">
                    Sprinkler System
                  </label>
                </div>
                <div class="form-check form-check-inline fs-5">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="pestControl"
                    name="pestControl"
                  />
                  <label class="form-check-label" for="pestControl">
                    Perimeter Pest Control
                  </label>
                </div>
              </div>
              <div class="col-12 d-flex justify-content-center mt-5">
                <button type="submit" class="btn btn-hover green-gradient">
                  Send
                </button>
              </div>
            </form>
          </div>
          <div class="col-md-5 mt-3 mt-md-0">
            <div class="contactInfo fs-5">
              <div class="contactTitle">
                <p class="text-uppercase fw-bold titleBorder">
                  <span>Dakota Turf Pros</span>
                </p>
              </div>
              <div class="company-info mb-4">
                <p class="mt-2">
                  <i class="bi bi-geo-alt-fill"></i> Sioux Falls, SD
                </p>
                <p class="mt-2">
                  <i class="bi bi-envelope-fill"></i
                  ><a
                    href="mailto:brandon@dakotaturfpros.com"
                    class="contactLink"
                    >brandon@dakotaturfpros.com</a
                  >
                </p>
                <p class="mt-2">
                  <i class="bi bi-telephone-fill"></i
                  ><a href="" class="contactLink">605-123-4567</a>
                </p>
              </div>
              <div class="contactHours">
                <div class="contactTitle titleBorder">
                  <span class="text-uppercase fw-bold">Hours</span>
                </div>
                <div
                  class="contactTime d-flex justify-content-between titleBorder mt-2"
                >
                  <p class="fw-bold">Sunday</p>
                  <p>CLOSED</p>
                </div>
                <div
                  class="contactTime d-flex justify-content-between titleBorder mt-2"
                >
                  <p class="fw-bold">Monday</p>
                  <p>8:00 AM - 5:30 PM</p>
                </div>
                <div
                  class="contactTime d-flex justify-content-between titleBorder mt-2"
                >
                  <p class="fw-bold">Tuesday</p>
                  <p>8:00 AM - 5:30 PM</p>
                </div>
                <div
                  class="contactTime d-flex justify-content-between titleBorder mt-2"
                >
                  <p class="fw-bold">Wednesday</p>
                  <p>8:00 AM - 5:30 PM</p>
                </div>
                <div
                  class="contactTime d-flex justify-content-between titleBorder mt-2"
                >
                  <p class="fw-bold">Thursday</p>
                  <p>8:00 AM - 5:30 PM</p>
                </div>
                <div
                  class="contactTime d-flex justify-content-between titleBorder mt-2"
                >
                  <p class="fw-bold">Friday</p>
                  <p>8:00 AM - 5:30 PM</p>
                </div>
                <div
                  class="contactTime d-flex justify-content-between titleBorder mt-2"
                >
                  <p class="fw-bold">Saturday</p>
                  <p>8:00 AM - 5:30 PM</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include("partials/footer"); -%>
