<%- include("partials/header"); -%>
<section id="hero-image">
  <div class="hero-text mx-auto">
    <h1 class="blur">
      Lorem ipsum dolor, <br />
      quis veniam dolorum officiis eligendi.
    </h1>
  </div>
  <div class="estimateBtn d-flex">
    <button class="btn-hover green-gradient mx-auto">Ipsum Dolor</button>
  </div>
</section>
<section id="request-quote">
    <div class="row text-center mx-1">
      <div class="col-12">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem praesentium harum, deleniti fugiat odio eveniet voluptatibus quae.
      </div>
      <div class="col">
        <button class="btn-hover green-gradient mx-auto">Ipsum Dolor</button>
      </div>
    </div>
</section>
<section id="about-us">
  <div class="row mx-0">
    <div class="col">
      test
    </div>
  </div>
</section>
<%- include("partials/footer"); -%>
