<%- include("partials/header"); -%>
<section id="hero-image">
  <div class="container-fluid h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-12">
        <div class="hero-text mx-auto mb-5">
          <h1 class="blur">
            Lorem ipsum dolor, <br />
            quis veniam dolorum.
          </h1>
        </div>
        <div class="d-flex">
          <a
            class="d-flex btn-hover green-gradient mx-auto align-items-center justify-content-center"
            href="/contact"
            >Request A Quote</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<section id="request-quote">
  <div class="container-fluid">
    <div class="row mx-1 text-center">
      <div class="col-12">
        <p>
          We offer <strong>FREE</strong>, no hassle quotes tailored to your
          specific lawn and landscaping needs.
        </p>
      </div>
    </div>
  </div>
</section>
<section id="about-us">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="row mx-0 mb-5 align-items-center">
          <div class="col-3 col-xl-2 pe-0">
            <img
              class="icon"
              src="/assets/img/local-best.png"
              alt="Location pointer icon with leaf in the middle"
            />
          </div>
          <div class="col-9">
            <h2 class="me-3">The Best Local Lawn Care Services</h2>
          </div>
        </div>
        <div class="row mx-1">
          <p class="mb-3">
            If you're looking for a fantastic, reliable lawn care service,
            you've come to the right place. We do things differently here at
            Dakota Turf Pros. We are taking a high-tech approach to a
            traditionally low tech sector, and are revolutionizing the lawn care
            industry. Our skilled, independent lawn pros will provide a service
            that is perfectly tailored to the needs of your lawn.
          </p>
          <p>
            Lawn care is a science, and we at Dakota Turf Pros pride ourselves
            in being on the cutting edge of the industry. We don't believe that
            one size fits all, as every lawn is unique and has its particular
            challenges with regard to climate, grasses, growing seasons, and
            soil varieties. We'll match you with a skilled, experienced lawn
            care provider that will work wonders on your yard.
          </p>
        </div>
      </div>
      <div class="d-none d-md-inline col-md-6">
        <div class="row">
          <img
            src="/assets/img/lawnscape.jpg"
            loading="lazy"
            decoding="async"
            class="p-0 shadow-lg rounded-pill"
            alt="Photo of a house in the background. Lawn, trees and landscaping in foreground"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div
      class="row round mx-3 my-5 pb-2 bg-light bg-gradient justify-content-center text-center"
    >
      <div class="col-10">
        <p class="text-muted quote-box">
          Request a quote today to receive a fast, free estimate for your lawn
          care needs.
        </p>
      </div>
      <div class="col pb-4">
        <div class="d-flex">
          <a
            class="d-flex btn-hover green-gradient mx-auto align-items-center justify-content-center"
            href="/contact"
            >Request A Quote</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="d-none d-md-inline d-xl-none col-md-5">
        <div class="row">
          <img
            src="/assets/img/savings-plant-md.jpg"
            loading="lazy"
            decoding="async"
            class="p-0 shadow pRound"
            alt="Photo of a small transparent glass planter pot filled with various coins and a newly sprouted plant"
          />
        </div>
      </div>
      <div class="d-none d-xl-inline col-xl-5">
        <div class="row">
          <img
            src="/assets/img/savings-plant-lg.jpeg"
            loading="lazy"
            decoding="async"
            class="p-0 shadow pRound"
            alt="Photo of a small transparent glass planter pot filled with various coins and a newly sprouted plant"
          />
        </div>
      </div>
      <div class="col-md-7 col-xl-6 col-xxl-4">
        <div class="row mx-0 mb-5 align-items-center">
          <div class="col-3 col-xl-2 pe-0">
            <img
              class="icon"
              src="/assets/img/savings.png"
              loading="lazy"
              decoding="async"
              alt="Icon of a plant with a dollar symbol inside the pedals"
            />
          </div>
          <div class="col-9">
            <h2 class="me-3">
              Helping To Save You Time and Money on Lawn Care
            </h2>
          </div>
        </div>
        <div class="row mx-1">
          <p class="mb-3">
            Dakota Turf Pros start saving you time with an instant, personalized
            quote. Based on our satellite mapping technology, your location and
            preferred service type, we’ll provide a competitive price right
            away. No surprises, no hidden charges and no need to waste time
            calling around.
          </p>
          <p class="mb-3">
            Our job’s not done yet. We take carefree lawn care to the next level
            with service plans. You can customize your desired frequency of lawn
            services so that you automatically get notified when it’s time to
            get the job done again. But don’t worry, unlike most subscription
            models, you only pay after the job is completed. You can skip a
            service or schedule a one time service as needed depending on your
            schedule and the condition of your lawn.
          </p>
          <p>
            We figure out everything from the scheduling, routing, and the
            payment processing so that you can sit back, relax, and enjoy your
            beautiful lawn.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="row mx-1 mb-5 align-items-center">
          <div class="col-3 pe-0">
            <img
              src="/assets/img/services-offered.png"
              loading="lazy"
              decoding="async"
              alt="Icon of a hand with seedling"
              class="icon"
            />
          </div>
          <div class="col-9">
            <h2 class="me-3">The Lawn Services<br />We Offer</h2>
          </div>
        </div>
        <div class="row mx-1 mb-5">
          <p>
            Our skilled, independent lawn pros cover all the bases from lawn
            mowing and maintenance to specialty lawn services including
            aeration, fertilizing, weed control, perimeter pest control, edging,
            sprinkler systems and more. We even offer year-round support with
            snow removal services.
          </p>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="row mx-1 mb-5 align-items-center">
          <div class="col-3 pe-0">
            <img
              src="/assets/img/near-you.png"
              loading="lazy"
              decoding="async"
              alt="Location icon with house symbol in the middle"
              class="icon"
            />
          </div>
          <div class="col-9">
            <h2 class="me-3">Find Lawn Care<br />Near You</h2>
          </div>
        </div>
        <div class="row mx-1">
          <p class="mb-3">
            Dakota Turf Pros operates throughout the Sioux Falls area. We also
            cover several communities around the Sioux Empire. We currently
            service:
          </p>
          <ul
            class="d-flex flex-row flex-wrap align-items-center justify-content-around"
          >
            <li>Crooks</li>
            <li>Brandon</li>
          </ul>
          <ul
            class="d-flex flex-row flex-wrap align-items-center justify-content-around"
          >
            <li>Renner</li>
            <li>Hartford</li>
          </ul>
          <ul
            class="d-flex flex-row flex-wrap align-items-center justify-content-around"
          >
            <li>Tea-Ellis</li>
            <li>Harrisburg</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="why-us">
  <div class="container">
    <div class="row">
      <p class="fs-1 fw-bold text-center mb-5">Why Dakota Turf Pros?</p>
    </div>
    <div class="row text-center">
      <div class="col-sm col-md-4 mb-4">
        <img
          src="/assets/img/cursor.png"
          loading="lazy"
          decoding="async"
          alt="Icon of a cursor clicking"
          class="whyUsIcons mb-3"
        />
        <p class="fs-4 fw-bold mb-2">Easy One-Time Setup</p>
        <p class="px-4 px-md-0 px-lg-4 px-xl-5">
          View Pricing options, select a service plan and schedule your service
          in just five minutes or less.
        </p>
      </div>
      <div class="col-sm col-md-4 mb-4">
        <img
          src="/assets/img/invoice.png"
          loading="lazy"
          decoding="async"
          alt="Icon of an inovice"
          class="whyUsIcons mb-3"
        />
        <p class="fs-4 fw-bold mb-2">Instant Quotes</p>
        <p class="px-4 px-md-0 px-lg-4 px-xl-5 mb-2">
          We offer instant, personalized quotes based on the size of your lawn,
          location, and requested service.
        </p>
        <a href="/contact">Try us →</a>
      </div>
      <div class="col-sm col-md-4 mb-4">
        <img
          src="/assets/img/shovel-and-rake.png"
          loading="lazy"
          decoding="async"
          alt="Icon of a shovel"
          class="whyUsIcons mb-3"
        />
        <p class="fs-4 fw-bold mb-2">Full-Service Lawn Care</p>
        <p class="px-4 px-md-0 px-lg-4 px-xl-5">
          Looking for lawn mowing, fertilization, gutter cleaning, leaf removal,
          yard cleanup, or something else? Our pros can do it all.
        </p>
      </div>
      <div class="col-sm col-md-4 mb-4">
        <img
          src="/assets/img/guarantee.png"
          loading="lazy"
          decoding="async"
          alt="Icon showing a circle with 100% in the middle"
          class="whyUsIcons mb-3"
        />
        <p class="fs-4 fw-bold mb-2">100% Satisfaction Guarantee</p>
        <p class="px-4 px-md-0 px-lg-4 px-xl-5">
          If you're not happy, we'll give you your money back. It's as simple as
          that.
        </p>
      </div>
      <div class="col-sm mb-4">
        <img
          src="/assets/img/rating.png"
          loading="lazy"
          decoding="async"
          alt="Icon of a thumbs up and 5 stars"
          class="whyUsIcons mb-3"
        />
        <p class="fs-4 fw-bold mb-2">Happy Customers</p>
        <p class="px-4 px-md-0 px-lg-4 px-xl-5 mb-2">
          Amazingly convenient services. What more could you ask for?
        </p>
        <a href="#reviews">Read our reviews →</a>
      </div>
      <div class="col-sm">
        <img
          src="/assets/img/process.png"
          loading="lazy"
          decoding="async"
          alt="Icon of a cog wheel, computer server and a person"
          class="whyUsIcons mb-3"
        />
        <p class="fs-4 fw-bold mb-2">All-in-One Management</p>
        <p class="px-4 px-md-0 px-lg-4 px-xl-5">
          Payment, scheduling, feedback... all done through the Dakota Turf Pros
          platform.
        </p>
      </div>
    </div>
  </div>
</section>
<section id="reviews" class="bg-light">
  <div class="container-fluid">
    <div class="row">
      <p class="fs-1 fw-bold text-center mb-5">
        What Our Customers Have To Say:
      </p>
    </div>
    <div class="row mb-5">
      <div class="card-group justify-content-center">
        <div class="col-sm col-md-12 col-lg-4 col-xl-3 mb-4 mb-lg-0 me-xl-5">
          <div class="card h-100 round shadow p-5 me-lg-3">
            <div class="card-body">
              <p class="card-text mb-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius,
                soluta id officia mollitia debitis eum optio quam illum,
                <span class="dots">[...]</span
                ><span class="more"
                  >omnis nulla ipsam accusantium nostrum natus eveniet alias
                  aliquid sequi fuga non! Lorem ipsum dolor sit amet consectetur
                  adipisicing elit. Sapiente quas, quo architecto sit quam
                  perferendis veritatis delectus, tempore minima recusandae
                  ratione obcaecati at facere autem praesentium nesciunt fuga
                  accusantium exercitationem.
                </span>
              </p>
              <button
                type="button"
                class="btn btn-link readMoreBtn p-0"
                onclick="readMore()"
              >
                Read More &or;
              </button>
            </div>
            <div class="d-flex flex-row">
              <img
                src="/assets/img/profile-avatar.jpeg"
                loading="lazy"
                decoding="async"
                alt="Reviewer's personal photo"
                class="reviewer-avi me-3"
              />
              <div>
                <p class="reviewer-name">Carol M.</p>
                <p class="reviewer-city">Tea, SD</p>
                <p class="rating">
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm col-md-6 col-lg-4 col-xl-3 mb-4 mb-lg-0 me-xl-5">
          <div class="card h-100 round shadow p-5 me-md-3">
            <div class="card-body">
              <p class="card-text mb-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae
                laborum quam illo nemo porro accusantium accusamus esse expedita
                <span class="dots">[...]</span
                ><span class="more">
                  qui molestias mollitia voluptatem tempore alias, sunt
                  quibusdam laboriosam dicta rem saepe!
                </span>
              </p>
              <button
                type="button"
                class="btn btn-link readMoreBtn p-0"
                onclick="readMore()"
              >
                Read More &or;
              </button>
            </div>
            <div class="d-flex flex-row">
              <img
                src="/assets/img/profile-avatar.jpeg"
                loading="lazy"
                decoding="async"
                alt="Reviewer's personal photo"
                class="reviewer-avi me-3"
              />
              <div>
                <p class="reviewer-name">Mike W.</p>
                <p class="reviewer-city">Sioux Falls, SD</p>
                <p class="rating">
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm col-md-6 col-lg-4 col-xl-3 mb-4 mb-lg-0">
          <div class="card h-100 round shadow p-5">
            <div class="card-body">
              <p class="card-text mb-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem
                aliquam minus magni fugiat ea nulla quia consequatur numquam
                <span class="dots">[...]</span
                ><span class="more">
                  necessitatibus dicta, sunt consequuntur laborum provident a
                  quibusdam sequi, voluptate eligendi hic.
                </span>
              </p>
              <button
                type="button"
                class="btn btn-link readMoreBtn p-0"
                onclick="readMore()"
              >
                Read More &or;
              </button>
            </div>
            <div class="d-flex flex-row">
              <img
                src="/assets/img/profile-avatar.jpeg"
                loading="lazy"
                decoding="async"
                alt="Reviewer's personal photo"
                class="reviewer-avi me-3"
              />
              <div>
                <p class="reviewer-name">Kim L.</p>
                <p class="reviewer-city">Crooks, SD</p>
                <p class="rating">
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-lg-5 text-center">
      <div class="col">
        <a href="#">
          <img
            src="/assets/img/google-review.webp"
            loading="lazy"
            decoding="async"
            class="google-review"
            alt="Click here to leave us a review on Google"
          />
        </a>
      </div>
    </div>
  </div>
</section>
<footer class="pt-5">
  <div class="container">
    <div class="row pt-3 pt-md-5 ms-4 ms-md-0">
      <div class="col border-start border-2 border-success">
        <div class="row pb-3">
          <div class="col">
            <i class="bi bi-telephone-fill pe-2"></i>
            <a href="tel:6051234567" class="footerLink">605-123-4567</a>
          </div>
        </div>
        <div class="row pb-3">
          <div class="col">
            <i class="bi bi-envelope-fill pe-2"></i>
            <a href="mailto:brandon@dakotaturfpros.com" class="footerLink"
              >Brandon@dakotaturfpros.com</a
            >
          </div>
        </div>
        <div class="row">
          <div class="col">
            <i class="bi bi-clock-fill pe-2"></i>
            Monday - Saturday: 8 AM - 5:30 PM
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center py-5">
      <div class="col footer-icons">
        <i class="bi bi-facebook me-4"></i>
        <i class="bi bi-instagram me-4"></i>
        <i class="bi bi-google me-4"></i>
        <i class="bi bi-globe"></i>
      </div>
    </div>
    <div class="row text-center">
      <div class="col">
        <p><span class="align-middle fs-5">&copy;</span> 2021 &lt;K|M /&gt;</p>
      </div>
    </div>
  </div>
</footer>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <path
    fill="#dff6e2"
    fill-opacity="1"
    d="M0,288L17.1,277.3C34.3,267,69,245,103,229.3C137.1,213,171,203,206,208C240,213,274,235,309,224C342.9,213,377,171,411,176C445.7,181,480,235,514,224C548.6,213,583,139,617,117.3C651.4,96,686,128,720,160C754.3,192,789,224,823,208C857.1,192,891,128,926,128C960,128,994,192,1029,186.7C1062.9,181,1097,107,1131,80C1165.7,53,1200,75,1234,106.7C1268.6,139,1303,181,1337,186.7C1371.4,192,1406,160,1423,144L1440,128L1440,0L1422.9,0C1405.7,0,1371,0,1337,0C1302.9,0,1269,0,1234,0C1200,0,1166,0,1131,0C1097.1,0,1063,0,1029,0C994.3,0,960,0,926,0C891.4,0,857,0,823,0C788.6,0,754,0,720,0C685.7,0,651,0,617,0C582.9,0,549,0,514,0C480,0,446,0,411,0C377.1,0,343,0,309,0C274.3,0,240,0,206,0C171.4,0,137,0,103,0C68.6,0,34,0,17,0L0,0Z"
  ></path>
</svg>
<%- include("partials/footer"); -%>
