<%- include("partials/header"); -%>
<section id="hero-image">
  <div class="hero-text mx-auto">
    <h1 class="blur">
      Lorem ipsum dolor, <br>
      quis veniam dolorum.
    </h1>
  </div>
  <div class="estimateBtn d-flex">
    <button class="btn-hover green-gradient mx-auto">Request A Quote</button>
  </div>
</section>
<section id="request-quote">
  <div class="container-fluid">
    <div class="row mx-1 text-center">
      <div class="col-12">
        <p>
        We offer <strong>FREE</strong>, no hassle quotes tailored to your specific lawn and landscaping needs.
      </p>
      </div>
    </div>
  </div>
</section>
<section id="about-us">
  <div class="container-fluid">
    <div class="row mx-0 mb-5 align-items-center">
      <div class="col-3 pe-0">
        <img class="icon" src="/assets/img/local-best.png" alt="" />
      </div>
      <div class="col-9">
        <h2 class="me-3">The Best Local Lawn Care Services</h2>
      </div>
    </div>
    <div class="row mx-1 mb-5">
      <p class="mb-3">
        If you're looking for a fantastic, reliable lawn care service, you've
        come to the right place. We do things differently here at Dakota Turf Pros. We
        are taking a high-tech approach to a traditionally low tech sector, and
        are revolutionizing the lawn care industry. Our skilled, independent
        lawn pros will provide a service that is perfectly tailored to the needs
        of your lawn.
      </p>
      <p>
        Lawn care is a science, and we at Dakota Turf Pros pride ourselves in being on
        the cutting edge of the industry. We don't believe that one size fits
        all, as every lawn is unique and has its particular challenges with
        regard to climate, grasses, growing seasons, and soil varieties. We'll
        match you with a skilled, experienced lawn care provider that will work
        wonders on your yard.
      </p>
    </div>
    <div class="row mx-3 mb-5 pb-2 bg-light bg-gradient justify-content-center">
      <div class="col-10">
        <p class="text-muted quote-box">Request a quote today to receive a fast, free estimate for your lawn care needs.</p>
      </div>
      <div class="col pb-4 text-center">
        <button class="btn-hover green-gradient mx-auto">Request A Quote</button>
      </div>
    </div>
    <div class="row mx-0 mb-5 align-items-center">
      <div class="col-3 pe-0">
        <img src="/assets/img/savings.png" alt="" class="icon">
      </div>
      <div class="col-9">
        <h2 class="me-3">Helping To Save You Time and Money on Lawn Care</h2>
      </div>
    </div>
    <div class="row mx-1">
      <p class="mb-3">Dakota Turf Pros start saving you time with an instant, personalized quote. Based on our satellite mapping technology, your location and preferred service type, we’ll provide a competitive price right away. No surprises, no hidden charges and no need to waste time calling around.</p>
      <p class="mb-3">
        Our job’s not done yet. We take carefree lawn care to the next level with service plans. You can customize your desired frequency of lawn services so that you automatically get notified when it’s time to get the job done again. But don’t worry, unlike most subscription models, you only pay after the job is completed. You can skip a service or schedule a one time service as needed depending on your schedule and the condition of your lawn.
      </p>
      <p>
        We figure out everything from the scheduling, routing, and the payment processing so that you can sit back, relax, and enjoy your beautiful lawn.
      </p>
    </div>
  </div>
</section>
<section id="services">
  <div class="container-fluid">
    <div class="row mx-1 mb-5 align-items-center">
      <div class="col-3 pe-0">
        <img src="/assets/img/services-offered.png" alt="" class="icon">
      </div>
      <div class="col-9">
        <h2 class="me-3">The Lawn Services<br>We Offer</h2>
      </div>
    </div>
    <div class="row mx-1 mb-5">
      <p>
        Our skilled, independent lawn pros cover all the bases from lawn mowing and maintenance to specialty lawn services including aeration, fertilizing, gutter cleaning, and more. We even offer year-round support with snow removal services.
      </p>
    </div>
    <div class="row mx-1 mb-5 align-items-center">
      <div class="col-3 pe-0">
        <img src="/assets/img/near-you.png" alt="" class="icon">
      </div>
      <div class="col-9">
        <h2 class="me-3">Find Lawn Care<br>Near You</h2>
      </div>
    </div>
    <div class="row mx-1">
      <p class="mb-3">
        Dakota Turf Pros operates throughout the Sioux Falls area. We also cover several communities around the Sioux Empire. We currently service:
      </p>
      <ul class="d-flex flex-row flex-wrap align-items-center justify-content-around">
        <li>Crooks</li>
        <li>Brandon</li>
        </ul>
        <ul class="d-flex flex-row flex-wrap align-items-center justify-content-around">
        <li>Renner</li>
        <li>Hartford</li>
        </ul>
        <ul class="d-flex flex-row flex-wrap align-items-center justify-content-around">
        <li>Tea-Ellis</li>
        <li>Harrisburg</li>
      </ul>
    </div>
  </div>
</section>
<%- include("partials/footer"); -%>
