<%- include("partials/header"); -%>
<section id="hero-image">
  <div class="hero-text mx-auto">
    <h1 class="blur">
      Lorem ipsum dolor, <br />
      quis veniam dolorum.
    </h1>
  </div>
  <div class="estimateBtn d-flex">
    <button class="btn-hover green-gradient mx-auto">Ipsum Dolor</button>
  </div>
</section>
<section id="request-quote">
  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-12">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem
        praesentium harum, deleniti fugiat odio eveniet voluptatibus quae.
      </div>
      <div class="col">
        <button class="btn-hover green-gradient mx-auto">Ipsum Dolor</button>
      </div>
    </div>
  </div>
</section>
<section id="about-us">
  <div class="container-fluid">
    <div class="row mx-0 align-items-center">
      <div class="col-3 pe-0">
        <img class="icon" src="/assets/img/local-best.png" alt="" />
      </div>
      <div class="col-9">
        <h2 class="me-3">The Best Local Lawn Care Services</h2>
      </div>
    </div>
    <div class="row">
      <p>
        If you're looking for a fantastic, reliable lawn care service, you've
        come to the right place. We do things differently here at Lawn Love. We
        are taking a high-tech approach to a traditionally low tech sector, and
        are revolutionizing the lawn care industry. Our skilled, independent
        lawn pros will provide a service that is perfectly tailored to the needs
        of your lawn.
      </p>
      <p>
        Lawn care is a science, and we at Lawn Love pride ourselves in being on
        the cutting edge of the industry. We don't believe that one size fits
        all, as every lawn is unique and has its particular challenges with
        regard to climate, grasses, growing seasons, and soil varieties. We'll
        match you with a skilled, experienced lawn care provider that will work
        wonders on your yard.
      </p>
    </div>
  </div>
</section>
<%- include("partials/footer"); -%>
