<%- include("partials/header"); -%>
<section id="hero-image">
  <div class="hero-text">
    <h1 class="blur">
      Lorem ipsum dolor, <br />
      quis veniam dolorum officiis eligendi.
    </h1>
  </div>
  <div class="estimateBtn"><button class="btn-hover green-gradient">Ipsum Dolor</button></div>
</section>
<section>
  <div class="container">
  </div>
</section>
<%- include("partials/footer"); -%>
