<%- include("partials/header"); -%>
<section id="hero-image">
  <div class="hero-text">
    <h1>
      Looking for Lawn Service? <br />
      We've got you covered!
    </h1>
  </div>
  <div class="test"><p>pictures of you and me are floating around oh no! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione pariatur, consequuntur quas, maiores ipsum libero reprehenderit culpa provident distinctio corrupti quisquam enim odit blanditiis, fugit veniam doloribus ab hic similique.
  Similique impedit obcaecati sint sapiente molestiae eveniet velit vero dignissimos officia sit tempore officiis atque assumenda voluptates necessitatibus eius nisi, est numquam repellat id consequatur? Reiciendis aliquid perferendis natus veniam!
  Veritatis aliquam saepe eligendi quia architecto, dolorum voluptatibus, voluptatem consequatur corporis quas, assumenda eaque nobis facilis natus iste? Voluptate, dolorum sunt. Quis aliquam ut adipisci assumenda optio commodi quasi provident!
  Sunt quae consequatur fugiat natus aliquid dolores, possimus praesentium non, voluptatibus obcaecati id totam repellendus at quasi, maxime asperiores temporibus. Quas veritatis asperiores assumenda eligendi voluptatibus impedit, pariatur libero hic.
  Animi assumenda quas velit dolore quidem ipsa reiciendis esse ipsam. Eos facere impedit dolorem sint soluta non. Ducimus, officia. Vel, natus. Aut necessitatibus ipsa fuga odit vitae, qui sapiente? Placeat.</p></div>
</section>

<section>
  <div class="container">
    <h1>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis quos
      doloremque unde quam fuga, earum nihil id voluptatibus, totam veritatis
      facilis. Alias sit repellat velit aspernatur, officiis quod fuga
      accusantium. Dolorem ut ratione ipsam laborum placeat cupiditate nostrum
      porro veniam provident dolores quod ex sed nihil error corrupti numquam
      aliquid tempore corporis nemo culpa iste, doloribus temporibus. Vitae,
      dolore qui. Reiciendis dicta vel quae totam cum cupiditate, perspiciatis
      et, eos molestiae beatae fuga nisi suscipit aliquid doloremque, nesciunt
      accusamus. Quae quasi illum velit dolore qui repudiandae at vero ullam
      cumque. Saepe ut inventore numquam quaerat sint error quae quis, iure
      quas, harum vel rerum cupiditate nobis voluptates at, libero id nulla
      sapiente. Dolores nam totam quas aspernatur illum earum explicabo? Nulla
      asperiores enim repellendus pariatur optio cumque mollitia aliquid
      consequuntur nisi similique, fugit delectus consequatur provident!
      Adipisci, mollitia, explicabo consequuntur magnam, cum blanditiis qui illo
      nam commodi voluptatem quasi ipsam! Neque incidunt enim libero minima
      repudiandae voluptas quas ipsum dignissimos assumenda quasi. Obcaecati
      illum dolor doloremque sed natus aut doloribus totam, rerum iste sunt,
      sint saepe? Odio rem saepe voluptatum. Assumenda beatae delectus magni
      asperiores fuga magnam tenetur eaque nobis sequi ullam ea debitis
      obcaecati explicabo dolores quidem dignissimos ex distinctio, quos
      adipisci? Id, ea? Esse optio magni rerum cupiditate. Praesentium omnis
      illum non expedita totam maxime eligendi ratione, tempora natus impedit
      molestiae, inventore enim quia harum. Et, nisi? Quod cupiditate veniam
      laborum tempore esse molestias optio, architecto quaerat ab? Deserunt
      expedita maiores dolorum soluta molestias, numquam perferendis
      exercitationem rerum fugiat quos ab tempore voluptas qui itaque impedit
      necessitatibus maxime, corrupti quam voluptate eos quas corporis eius?
      Dolorum, in porro! Temporibus distinctio quod ullam fuga alias, eius
      labore maxime incidunt quasi libero provident sequi ad odit accusamus
      blanditiis hic reiciendis laborum, velit totam? Error nihil, optio quaerat
      praesentium maxime nesciunt! Et exercitationem asperiores repudiandae
      adipisci illo provident reiciendis rerum nemo eaque accusantium. Suscipit
      amet ipsa sint sequi pariatur rem, qui blanditiis veritatis deserunt
      nulla? Possimus sed earum cumque nulla aliquam? Quisquam quos alias, rerum
      laborum voluptate cum culpa, tempore totam libero ea qui. Numquam,
      pariatur dignissimos iure perspiciatis repellat modi vitae quo nisi eum
      optio repellendus aspernatur odit iusto quae! Harum ex nihil quas voluptas
      delectus? Error cumque praesentium, illo ullam animi quidem expedita
      facere tempore exercitationem a iste commodi fugit eum quisquam quod vel
      nisi nobis accusantium. Voluptas, adipisci. Laboriosam molestias nihil
      omnis praesentium, vero laudantium consequuntur veritatis voluptates,
      beatae nulla magni deleniti sequi pariatur voluptas rerum minus eum ipsam
      tempora veniam esse? Commodi quaerat sed reprehenderit ratione eligendi?
      Iure omnis, cumque ratione fugiat tempore totam laboriosam nihil quisquam
      voluptas unde culpa facere corporis laudantium qui temporibus, veritatis
      maiores voluptatem dolorum incidunt animi doloremque enim rerum. Dolor,
      sed dolorum! Quos aperiam quibusdam maxime ea aut cupiditate ab! Unde,
      tenetur veritatis quidem distinctio ea officiis excepturi facilis nisi
      earum odit, corrupti porro voluptas voluptate magni voluptatum nobis.
      Porro, nam vel! Laborum, eligendi placeat ab incidunt deleniti doloremque
      amet est itaque maiores deserunt laboriosam cum tempore quo sunt pariatur
      voluptate officia dolorem, aut voluptatem voluptates facere nulla aliquam!
      Aspernatur, eaque ea. Voluptas aspernatur officiis debitis quibusdam
      dignissimos magni sequi numquam accusamus repudiandae similique mollitia
      tenetur quod reprehenderit beatae consequuntur accusantium laudantium,
      iusto aliquam est? Labore inventore tenetur et repellendus explicabo rem!
      Ut omnis quaerat fugiat voluptates! Molestiae ab eaque cupiditate iure
      enim cum minus corporis ratione adipisci quae expedita assumenda
      aspernatur laborum, tempora alias, tenetur accusamus unde corrupti
      laboriosam, quaerat perferendis. Itaque est iure, quis quisquam, hic
      perspiciatis dicta omnis fugit placeat asperiores vel odio assumenda eius
      dolores saepe temporibus nesciunt natus deleniti officiis maiores! Optio
      enim provident distinctio vitae ad? Voluptates iusto quibusdam hic illum
      magni ullam commodi molestias dolorem debitis sapiente optio eum, possimus
      consectetur. Saepe, minima? Libero cum a tenetur amet neque nulla
      reiciendis rem tempora facilis perferendis. Magnam nulla dolores harum
      odit vel labore, corporis dolorem maiores, voluptas excepturi culpa,
      facilis quam officiis voluptate expedita. Exercitationem accusantium sit
      soluta in excepturi quis, veritatis dicta quod neque porro! Enim vel
      consequuntur culpa debitis obcaecati ipsam dolorum aliquid, ea laudantium
      quas minima! Ipsum maiores id velit nisi consequuntur tenetur debitis aut
      tempore ut veniam enim amet labore, quam unde. Sunt nihil, aspernatur
      eaque provident fuga ratione quod nulla alias. Illum magnam dolore
      voluptate sit consequatur tenetur reiciendis similique? Natus explicabo
      maxime inventore enim blanditiis. Error, maiores impedit! Quaerat, unde.
      Deleniti, eum laboriosam rerum, consectetur facilis maxime quas placeat
      saepe fugiat soluta corrupti, tempora eaque accusamus. Aliquam, quidem.
      Facilis neque magni odit voluptates, eos fugiat unde ratione et culpa
      eius.
    </h1>
  </div>
</section>
<%- include("partials/footer"); -%>
