/* 415f1c - green icon color */

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li {
  margin: 0;
}

body,
html {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: "Fira Sans", sans-serif;
}

label {
  font-weight: 300;
}

p {
  font-weight: 300;
}

ul {
  list-style-type: none;
}

a:hover {
  color: #8cc63f;
}

svg {
  margin-top: -1px;
}

.icon {
  width: 80%;
  height: auto;
}

.round {
  border-radius: 20px;
}

/* Info Bar Header (Hours & Location) */

header {
  background-color: #f6faef;
}

.phoneNum {
  color: #000;
  text-decoration: none;
}

/* Navigation */

nav img {
  transition: all 0.8s;
}

#mainNav {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  transition: all 0.7s;
  background-color: #f5f8f1;
  padding: 0;
}

.navbar {
  position: -webkit-sticky;
  position: sticky !important;
  top: 0;
  z-index: 1260;
}

.navbar-brand {
  transition: all 0.8s;
  padding: 0;
  margin: 0;
}

.mobile-logo {
  height: 100px;
}

.desktop-logo {
  height: 140px;
}

.navbar-toggler {
  padding-right: 30px;
}

.wrapper-menu {
  width: 44px;
  height: 42px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: all 330ms ease-out;
}

.wrapper-menu.open {
  transform: rotate(-45deg);
}

.line-menu {
  background-color: #000;
  border-radius: 5px;
  width: 100%;
  height: 3px;
}

.line-menu.half {
  width: 50%;
}

.line-menu.start {
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: right;
}

.open .line-menu.start {
  transform: rotate(-90deg) translateX(3px);
}

.line-menu.end {
  align-self: flex-end;
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: left;
}

.open .line-menu.end {
  transform: rotate(-90deg) translateX(-3px);
}

.nav-item {
  padding: 0 20px;
  transition: all 0.8s;
}

.nav-item-scrolled {
  padding: 0 10px 0 0;
}

.nav-link {
  font-size: 0.75em;
  letter-spacing: 0.07em;
  color: #000;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 8px;
}
.nav-link:before,
.nav-link:after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #2fa4e7;
}
.nav-link:before {
  opacity: 0;
  transform: translateY(-8px);
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
}
.nav-link:after {
  opacity: 0;
  transform: translateY(4px);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0.2s;
}
.nav-link:hover:before,
.nav-link:hover:after,
.nav-link:focus:before,
.nav-link:focus:after {
  opacity: 1;
  transform: translateY(0);
}
.nav-link:hover:before,
.nav-link:focus:before {
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0.2s;
}
.nav-link:hover:after,
.nav-link:focus:after {
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0s 0.2s;
}

i.bi.bi-facebook {
  font-size: 44px;
}

.facebook:hover {
  color: #1778f2;
}

.facebook:before,
.facebook:after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #8cc63f;
}

.navBtn {
  color: #ffffff;
  width: 175px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.navBtn:hover {
  background-position: 100% 0;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.navBtn:focus {
  outline: none;
}

.navBtn.green-gradient {
  background-image: linear-gradient(
    to right,
    #0ba360,
    #3cba92,
    #30dd8a,
    #2bb673
  );
  box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}

/* Hero Image */

#hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/img/mowHero.jpg");
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text {
  text-align: center;
  width: 90%;
  color: #ffffff;
}

.hero-text h1 {
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  line-height: 1.5em;
  padding: 10px;
}

.blur {
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border-radius: 20px;
}

.btn-hover {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  height: 55px;
  text-align: center;
  text-decoration: none;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:hover {
  color: #fff;
  background-position: 100% 0;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.green-gradient {
  background-image: linear-gradient(
    to right,
    #0ba360,
    #3cba92,
    #30dd8a,
    #2bb673
  );
  box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}

/* Get Quote Bar */

#request-quote {
  background-color: #f6faef;
  padding: 50px 0;
}

/* About Us */

#about-us {
  padding: 80px 0;
}

.quote-box {
  font-size: 22px;
  padding: 25px;
}

.pRound {
  border-radius: 0 20px 20px 0;
}

/* Services */

#services {
  background-color: #dff6e2;
  padding: 80px 0;
}

/* Why Us */

#why-us {
  padding: 80px 0;
}

#why-us a {
  color: #2fa4e7;
  text-decoration: none;
}

#why-us a:hover {
  color: #8cc63f;
  text-decoration: underline;
}

.whyUsIcons {
  width: 15%;
}

/* Reviews */

#reviews {
  padding: 80px 0;
}

#reviews i {
  color: gold;
}

.more {
  display: none;
}

.readMoreBtn {
  text-decoration: none;
  color: #2fa4e7;
}

.readMoreBtn:hover {
  text-decoration: underline;
  color: #8cc63f;
}

.reviewer-avi {
  height: 70px;
  border-radius: 50%;
}

.google-review {
  width: 200px;
}

/* Footer */

footer {
  background-color: #dff6e2;
}

.footer-icons {
  font-size: 44px;
}

.footerNum {
  color: #000;
  text-decoration: none;
}

/* ++QUOTE PAGE++ */

#quote-page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/img/quote-bg.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

#quote-page i {
  margin-right: 0.75rem;
}

.contactBlur {
  background: rgba(255, 255, 255, 0.35);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border-radius: 20px;
}

.formTitle {
  letter-spacing: 5px;
}

.btmBorder {
  padding-top: 5px;
  margin: auto;
  border-bottom: 1px solid #dff6e2;
  width: 97%;
}

.titleBorder {
  padding-bottom: 3px;
  border-bottom: 1px solid #dff6e2;
  width: 96.25%;
}

.contactLink {
  color: #ffffff;
  margin-left: 5px;
  text-decoration: none;
}

.contactLink:hover {
  text-decoration: underline;
}

.form-control {
  padding: 0.85rem;
  border: none;
  border-radius: 3px;
}

.form-select {
  padding: 0.85rem;
  border: none;
  border-radius: 3px;
}

/* Media Queries */

@media only screen and (min-width: 375px) {
  .hero-text h1 {
    padding: 25px;
  }
}

@media only screen and (min-width: 414px) {
  .hero-text h1 {
    padding: 45px 15px;
  }
}

@media only screen and (max-width: 480px) {
  header i.bi-telephone-fill {
    font-size: 1.25em;
  }
}

@media only screen and (max-width: 767px) {
  .phoneNum {
    font-size: 1.35em;
  }
}

@media only screen and (min-width: 768px) {
  body {
    height: 100vh;
    min-height: auto;
  }

  .hero-text {
    text-align: center;
    color: #ffffff;
    width: 60%;
  }

  .hero-text h1 {
    padding: 2em;
  }
}

@media only screen and (min-width: 992px) {
  .nav-link {
    font-size: 1.5em;
    letter-spacing: 0.1em;
    color: #000;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    padding-bottom: 8px;
  }
}

/* iPad 1, 2, Mini and Air */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .whyUsIcons {
    width: 25%;
  }
}

/* Portrait only - iPad 1, 2, Mini and Air */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .whyUsIcons {
    width: 25%;
  }
}

@media only screen and (min-width: 1200px) {
  #services img {
    width: 60%;
  }
}

@media only screen and (min-width: 1950px) {
  .hero-text h1 {
    font-size: 3.5em;
    text-transform: uppercase;
    letter-spacing: 0.075em;
    line-height: 1.5em;
    padding: 50px 0;
  }

  .hero-text {
    text-align: center;
    width: 50%;
    color: #ffffff;
  }
}
